<ion-view view-title="PassGen">
  <ion-content class="padding">

<div align="center">

<h3 class="dark"></h3>

<button class="button button-block button-outline button-dark icon ion-load-a">
  Generate New Password
</button>

<div class="icon ion-ios-more-outline positive"></div>

<button class="button button-block button-outline button-positive icon ion-ios-mic-outline" ng-disabled="true">
  Capture Sound
</button>

<button class="button button-block button-outline button-positive icon ion-ios-camera-outline" ng-disabled="true">
  Capture Image
</button>

<button class="button button-block button-outline button-positive icon ion-iphone" ng-disabled="true">
  Capture Motion
</button>

<div class="icon ion-ios-more-outline positive"></div>

<button class="button button-block button-energized icon ion-ios-copy-outline" ng-disabled="true">
  Copy to Clipboard
</button>

</div>

  </ion-content>
</ion-view>
